<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <div class="container">
    <p>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <form name="cardSetForm" id="cardSetForm">
            <div class="control-group form-group">
              <div class="controls">
                <label>카드입력</label>
                <textarea rows="10" cols="100" class="form-control" id="inCardNm" name="inCardNm" maxlength="999" style="resize:none"></textarea>
              </div>
            </div>
            <button type="button" class="btn btn-primary" id="getApiItemInfo">조회</button>
          </form>
        </div>
        <div class="col-lg-8 mb-4">

        </div>
      </div>
    </p>
  </div>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
      $("#getApiItemInfo").click(function() {
        card.getApiCardInfo();
      });
    });
  </script>
</body>
</html>
